# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.build
coverage
src-tauri/resources/yolnoma_steamutility.dat
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.ideae
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
src-tauri/.env
libs/
resources

secret
*.key
*.key.pub
*.pem
*.p12
*.pfx
docs/Tauri_Signer.txt
