# Logs
logs
*.log
bun-debug.log*

node_modules
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.ideae
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
src-tauri/.env
resources

secret
*.key
*.key.pub
*.pem
*.p12
*.pfx
